
{% if error_create %}
<div class="alert alert-error">{{ error_create|raw }}</div>
{% endif%}


<div class="nav clearfix">
	<input type="text" placeholder="{{ tr.get('search') }}" id="input_{{ uniqid }}" class="search-query pull-right" />
</div>


<ul class="breadcrumb form-horizontal">
	<li>
		<button class="btn btn-success" title="{{ tr.get('reload') }}" onclick="admin.tabs.reloadActive();">
			<i class="icon-white icon-repeat"></i>
		</button>
		<span class="divider">|||</span>
	</li>
	{% for part in path_arr %}
	<li>
		<a class="btn{% if loop.last %} btn-success{% endif %}" href="#media/all{% if part != '.'%}/{{ part }}{% endif %}">{{ part }}</a> 
		<span class="divider">/</span>
	</li>
	{% endfor %}
	<li>
		<div class="input-append">
			<input class="span3" type="text" placeholder="{{ tr.get('new_dir_name') }}" >
			<button class="btn newFolder" type="button">{{ tr.get('create_go') }}</button>
		</div>
	</li>
</ul>


<div id="file-uploader"></div>

{% if path and files|length ==0 %}
<p style="text-align: center">
	<button class="btn btn-danger btn-large deleteFolder">
		<i class="icon icon-white icon-trash"></i> {{ tr.get('delete_directory') }}
	</button>
</p>
{% else %}
<ul class="media-list" id="media-{{ uniqid }}">
{% for file in files %}

	{% if file.type == 'folder' %}
	<li class="pull-left img">
		<a class="" href="#media/all/{{ file.href }}">
			<img class="media-object" src="{{ file.src }}" style="width:128px;" />
			<div style="text-align:center;" class="searcheable">{{ file.name }}</div>
		</a>
	</li>
	{% endif %}
	{% if file.type == 'file' %}
	<li class="pull-left openpop img"
		data-file="{{ file.src }}"
		data-name="{{ file.name }}" 
		{% if file.image %}
		data-image="true"
		{% endif %}
		>
		
		<div style="width:128px; max-height:128px; ">
			<img src="{{ file.src }}" style="max-height:100%; max-width: 100%;" />
		</div>
		<div class="carousel-caption searcheable" style="position:relative; color:#fff;">{{ file.name }}</div>
	</li>
	{% endif%}
		
		

{% endfor %}
</ul>
{% endif %}


<script>
	new qq.FileUploader({
		element: $('#file-uploader')[0],
		action: 'controller.php?obj=utils&method=upload&param[]={{ path }}',
		sizeLimit: 0,
		minSizeLimit: 0,
		onComplete: function(){
			admin.tabs.closeActive('media/all{% if rel_path %}/{{ rel_path }}{% endif %}');
		}
	});
	$('li.openpop').popover({
		html:true,
		title: function(){
			var file = $(this).data('file')
				name = $(this).data('name')
				is_image = $(this).data('image');
			
			return $('<div />').append(
					'<h4>' + $(this).data('name') + '</h4>',
					'File URL:',
					'<input type="text" value="' + file + '" onfocus="this.select()" style="width:90%; font-size:0.6em" /><br />',
					$('<div />').addClass('input-append'),
					$('<div class="btn-group"></div>').append(
						'<a class="btn" target="_blank" href="{{ path }}/' + name + '" title="{{ tr.get('open_download') }}"><i class="icon icon-download-alt"></i></a>',
						( is_image ? $('<a href="#media/edit/{{ rel_path }}/' + name + '" class="btn" title="{{ tr.get('edit_file') }}"><i class="icon icon-wrench"></i>') : ''),
						$('<a class="btn btn-danger" href="javascript:void(0);" title="{{ tr.get('delete') }}"><i class="icon-white icon-trash"></i>')
							.click(function(){
								admin.media.deleteFile('{{ rel_path }}/' + name);
							})
							)
						);
		}
	});
	
	$('ul.breadcrumb a, ul.media-list a').click(function(event){
		admin.tabs.closeActive();
	});
	
	$('.newFolder').click(function(){
		var val = $(this).prev().val();
		if (!val){
			admin.message('{{ tr.get('missing_directory_name')}}', 'error');
			$(this).prev().focus();
		} else {
			admin.media.go2dir({% if rel_path %} '{{ rel_path }}/' + {% endif %}val);
		}
	});
	
	
	$('.deleteFolder').click(function(){
		admin.media.deleteDir('{{ rel_path }}');
	});
	
	$('#input_{{ uniqid }}').on('keyup', function(){
		admin.media.filterDir($(this).val(), '{{ uniqid }}');
	});
</script>
