
{% if error_create %}
<div class="alert alert-error">{{ error_create|raw }}</div>
{% endif%}
<div class="nav clearfix">
	<input type="text" placeholder="{{ tr.get('search') }}" id="input-{{ uniqid }}" class="search-query pull-right" />
</div>
<ul class="breadcrumb form-horizontal">
	<li>
		<button class="btn btn-success" title="{{ tr.get('reload') }}" onclick="admin.tabs.reloadActive();"><i class="icon-white icon-repeat"></i></button>
		<span class="divider">|||</span>
	</li>
	{% for part in path_arr %}
	<li>
		<a class="btn{% if loop.last %} btn-success{% endif %}" href="#media/all{% if part != '.'%}/{{part}}{% endif %}">{{ part }}</a> 
	<span class="divider">/</span>
	</li>
	{% endfor %}
	<li>
		<div class="input-append">
			<input class="span3" type="text" placeholder="{{ tr.get('new_dir_name') }}" >
			<button class="btn newFolder" type="button">{{ tr.get('create_go') }}</button>
		</div>
</ul>


<div id="file-uploader"></div>

{% if path and files|length ==0 %}
<p style="text-align: center">
	<button class="btn btn-danger btn-large deleteFolder"><i class="icon icon-white icon-trash"></i> {{ tr.get('delete_directory') }}</button>
</p>
{% else %}
<ul class="media-list" id="media-{{ uniqid }}">
{% for file in files %}

	{% if file.type == 'folder' %}
	<li class="pull-left img">
		<a class="" href="#media/all/{{ file.href }}">
			<img class="media-object" src="{{ file.src }}" style="width:128px;" />
			<div style="text-align:center;">{{ file.name }}</div>
		</a>
	</li>
	{% endif %}
	{% if file.type == 'file' %}
	<li class="pull-left openpop img"
		data-file="{{ file.src }}"
		data-name="{{ file.name }}" 
		>
		
		<div style="width:128px; max-height:128px; ">
			<img src="{{ file.src }}" style="max-height:100%; max-width: 100%;" />
		</div>
		<div class="carousel-caption" style="position:relative; color:#fff;">{{ file.name }}</div>
	</li>
	{% endif%}
		
		

{% endfor %}
</ul>
{% endif %}

<script>
	new qq.FileUploader({
		element: $('#file-uploader')[0],
		action: 'controller.php?obj=utils&method=upload&param[]={{ upload_dir }}',
		sizeLimit: 0,
		minSizeLimit: 0,
		onComplete: function(){
			admin.tabs.closeActive('media/all{% if path %}/{{ path }}{% endif %}');
		}
	});
	$('li.openpop').popover({
		html:true,
		title: function(){
			var file = $(this).data('file')
				name = $(this).data('name');
			
			return $('<div />').append(
					'<h4>' + $(this).data('name') + '</h4>',
					'File URL:',
					'<input type="text" value="' + file + '" onfocus="this.select()" style="width:90%; font-size:0.6em" /><br />',
					$('<div />').addClass('input-append'),
					$('<div class="btn-group"></div>').append(
						'<a class="btn" target="_blank" href="' + file + '" title="{{ tr.get('open_download') }}"><i class="icon icon-download-alt"></i></a>',
						$('<a href="#media/edit/' + file.replace(/\//g, '-@-') + '" class="btn" title="{{ tr.get('edit_file') }}"><i class="icon icon-wrench"></i>').click(function(){
							return;
							admin.tabs.add({
								title: '{{ tr.get('edit_file') }}',
								obj: 'media_ctrl',
								method: 'edit',
								param: [file],
								buttons:[
								         {
								        	 text: '{{ tr.get('close') }}',
								        	 action: 'close'
								         }
								         ]
							});
						}),
						$('<a class="btn btn-danger" href="javascript:void(0);" title="{{ tr.get('delete') }}"><i class="icon-white icon-trash"></i>')
							.click(function(){
								admin.dialog({
									title: '{{ tr.get('pay_attention_please') }}',
									html: '{{tr.get('confirm_delete_file') }}',
									buttons:[
									         {
									        	 text: '{{ tr.get('close') }}',
									        	 action: 'close'
									         },
									         {
									        	 text: '{{ tr.get('delete') }}',
									        	 addclass: 'btn-danger',
									        	 action: 'close',
									        	 click: function(){
									        		 $.get('controller.php?obj=media_ctrl&method=delete&param[]=' + file, function(data){
									        			 admin.message(data.text, data.status);
									        			 if (data.status == 'success'){
									        				 admin.tabs.closeActive('media/all{% if path %}/{{ path }}{% endif %}');
									        			 }
									        		 }, 'json')
									        	 }
									         }
									         ]
								});
							})
							)
						);
		}
	});
	
	$('ul.breadcrumb a, ul.media-list a').click(function(){
		admin.tabs.closeActive();
	});
	
	$('.newFolder').click(function(){
		var val = $(this).prev().val();
		if (!val){
			admin.message('{{ tr.get('missing_directory_name')}}', 'error');
			$(this).prev().focus();
		} else {
			val = val.replace(/\s|-|'|"/g, '_')
			val = val.replace(/\//g, '-@-');
			admin.tabs.closeActive('media/all/{% if path %}{{ path }}-@-{% endif %}' + val);
		}
	});
	
	
	$('.deleteFolder').click(function(){
		$.get('controller.php?obj=media_ctrl&method=delete&param[]={{ path }}', function(data){
			admin.message(data.text, data.status);
			if(data.status == 'success'){
				admin.tabs.closeActive('media/all' + (data.new_path ? '/' + data.new_path : ''));
			}
		}, 'json');
	});
	
	$('#input-{{ uniqid }}').on('keyup', function(){
		
		var filter = $(this).val();
		
		if (filter) {
	      $('#media-{{ uniqid }} div.alert:not(:Contains(' + filter + '))').parents('li').fadeOut();
	      $('#media-{{ uniqid }} div.alert:Contains(' + filter + ')').parents('li').fadeIn();
	    } else {
	      $('#media-{{ uniqid }} li').fadeIn();
	    }
	});
</script>
