<form action="javascript:void(0)" id="translate_menu{{ uid }}">
	<table style="width: 100%;" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th style="width: 100px;"></th>
				<th style="width: 300px;">Original</th>
				<th style="width: 50px;">&nbsp;</th>
				<th>Translation</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<th class="tb">Status</th>
				<td class="tb">&nbsp;</td>
				<td class="tb">&nbsp;</td>
				<td class="tb"><select name="translated">
					<option value="1" {% if data.tr_translated == 1 %} selected="true" {% endif %}>translated</option>
					<option value="0" {% if data.tr_translated == 0 %} selected="true" {% endif %}>not translated</option>
				</select></td>
			</tr>
			<tr>
				<th class="tb">ID</th>
				<td colspan="2" class="tb">{{ data.o_id }}</td>
				<td class="tb">{% if data.tr_id %}<input type="text" name="id" value="{{ data.tr_id }}" readonly="true" />{% endif %}</td>
			</tr>
			<tr>
				<th class="tb">Item</th>
				<td class="tb">{{ data.o_item }}</td>
				<td class="tb"><button class="btn copy" type="button">&gt;&gt;</button></td>
				<td class="tb"><input type="text" name="item" value="{{ data.tr_item }}" style="width:90%" /></td>
			</tr>
			<tr>
				<th class="tb">Title</th>
				<td class="tb">{{ data.o_title }}</td>
				<td class="tb"><button class="btn copy" type="button">&gt;&gt;</button></td>
				<td class="tb"><input type="text" name="title" value="{{ data.tr_title }}" style="width:90%" /></td>
			</tr>
		</tbody>
	</table>

	<p>
		<button type="submit" class="btn btn-success">Salva</button>
		<button type="reset" class="btn">Annulla</button>
	</p>
</form>
<script type="text/javascript">
<!--
$('#translate_menu{{ uid }}').submit(function(){
	
	tinyMCE.triggerSave();
	
	$.post(
			'controller.php?obj=translate_ctrl&method=save&param[]=menu&param[]={{ lang }}&param[]={{ data.o_id }}',
			$('#translate_menu{{ uid }}').serialize(),
			function(data){
				admin.message(data.text, data.type);
				{% if data.tr_id == false %}
				admin.tabs.closeActive('translate/menu/{{ data.o_id }}/{{ lang }}');
				{% endif %}
			},
			'json'
		);	
});


$('button.copy').click(function(){
	var text = $(this).parent('td').prev('td').html()
	input = $(this).parent('td').next().find(':input');

	if (input.hasClass('tiny')){
		tinyMCE.get(input.attr('id')).setContent(text);
	} else {
		input.val(text);
	}
});
//-->
</script>