<h1>{{ tr.get('manage_menus') }}</h1>

<div class="btn-group" style="padding:20px 0;">
	<a class="btn" href="#menu/addNew" title="Aggiungi nuovo"><i class="icon-plus"></i> {{ tr.get('add_new_menu_item') }}</a>
	<a class="btn" href="#translate/menu" title="Traduci"><i class="icon-globe"></i> {{ tr.get('translations') }}</a>
	<a class="btn reload" title="Ricarica"><i class="icon-repeat"></i> {{ tr.get('reload') }}</a>
</div>



<div class="accordion" id="accordion{{ uid }}">

{% for menu_id, menu in all_menus %}

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{ uid }}" href="#collapse{{ menu_id }}">
				MENU: <strong>{{ menu_id }}</strong>
			</a>
		</div>
		
		<div id="collapse{{ menu_id }}" class="accordion-body collapse">
			<div class="accordion-inner">
			
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>{{ tr.get('id') }}</th>
							<th>{{ tr.get('item') }}</th>
							<th>{{ tr.get('link') }}</th>
							<th>{{ tr.get('target') }}</th>
							<th>{{ tr.get('title') }}</th>
							<th>{{ tr.get('Menu') }}</th>
							{#<th>{{ tr.get('sorting') }}</th>#}
							<th>{{ tr.get('sub_of') }}</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="serialize">
					{% for m in menu %}
						<tr id="menu_{{ m.id }}">
							<td class="handle"><i class="icon icon-align-justify"></i></td>
							<td>{{ m.id }}</td>
							<td>{{ m.item }}</td>
							<td>{{ m.href }}</td>
							<td>{{ m.target }}</td>
							<td>{{ m.title }}</td>
							<td><strong>{{ m.menu }}</strong></td>
							{#<td>{{ m.sort }}</td>#}
							<td>{{ m.subof }}</td>
							<td>
								<a href="#menu/edit/{{ m.id }}" class="btn btn-primary" title="{{ tr.get('edit') }}"><i class="icon-white icon-pencil"></i></a>
								<a href="#" class="btn btn-danger delete" data-id="{{ m.id }}" title="{{ tr.get('delete') }}"><i class="icon-white icon-trash"></i></a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endfor %}
</div>
<!-- 

 -->

<script>



$('a.reload').click(function(){
	admin.tabs.reloadActive();
	return false;
});

$('a.delete').click(function(){
	var $this = $(this);
	admin.dialog({
		title: '{{ tr.get('pay_attention_please') }}',
		html: '{{ tr.get('confirm_delete_menu_item') }}',
		buttons:[
		         {
		        	 text: '{{ tr.get('close') }}',
		        	 action: 'close'
		         },
		         {
		        	 text: '{{ tr.get('delete') }}',
		        	 addclass: 'btn-danger',
		        	 action: 'close',
		        	 click: function(){
		        		 $.get('controller.php?obj=menu_ctrl&method=delete&param[]=' + $this.data('id'), function(data){
		        			 admin.message(data.text, data.type);
		        			 if (data.type == 'success'){
		        				 admin.tabs.closeActive('menu/all');
		        			 }
		        		 }, 'json')
		        	 }
		         }
		         ]
	});
});
</script>