{#
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>bdus.CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="shortcut icon" href="css/favicon.png" type="image/png" />

{% for f, sha in css %}
    <link rel="stylesheet" href="{{ f }}?sha256={{ sha }}">
{% endfor %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body{% if user_confirmed == false %} class="login"{% endif %}>

    {% block content %}{% endblock %}

  <script src="controller/?obj=tr&method=lang2js"></script>
{% for f, sha in js %}
  <script src="{{ f }}?sha256={{ sha }}"></script>
{% endfor %}
{% block scripts %}{% endblock %}
  </body>
</html>
