RewriteEngine on
RewriteBase /

ErrorDocument 404 /index.php?art_title=not_found

#  www 2 non www url syntax
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L] 

#safe site, js and css, tiny_mce
RewriteRule (css|sites|js|tiny_mce|img)/(.+) $1/$2

RewriteRule ^feed/rss$ controller.php?obj=feeds_ctrl&method=rss2
RewriteRule ^feed/atom$ controller.php?obj=feeds_ctrl&method=atom

#admin 
RewriteRule ^admin/?$ admin.php
RewriteRule ^admin:logout?$ admin.php?logout=1
RewriteRule ^admin:debug?$ admin.php?debug=1
RewriteRule ^admin:mini?$ admin.php?mini=1
RewriteRule ^admin:lng-(it|en|es|fr|ar|de|al)?$ admin.php?lang=$1

#safe home page 
RewriteRule ^(it|en|es|fr|ar|de|al)/?$ index.php?lang=$1 

#section
RewriteRule ^(it|en|es|fr|ar|de|al)/([a-zA-Z0-9-_]+).all$ index.php?lang=$1&section=$2
RewriteRule ^([a-zA-Z0-9-_]+).all$ index.php?section=$1

#art_title no html
RewriteRule ^(it|en|es|fr|ar|de|al)/([a-zA-Z0-9-_]+)/?$ index.php?lang=$1&art_title=$2
RewriteRule ^([a-zA-Z0-9-_]+)/?$ index.php?art_title=$1

#art_title html
RewriteRule ^(it|en|es|fr|ar|de|al)/([a-zA-Z0-9-_]+).html$ index.php?lang=$1&art_title=$2
RewriteRule ^([a-zA-Z0-9-_]+).html$ index.php?art_title=$1

#art_id
#RewriteRule ^(it|en|es|fr|ar|de|al)/id:([0-9]+)$ index.php?lang=$1&art=$2
#RewriteRule ^id:([a-zA-Z0-9-_]+)$ index.php?art=$1

#search
RewriteRule ^(it|en|es|fr|ar|de|al)/search:([a-zA-Z0-1-_\.]+)$ index.php?lang=$1&search=$2
RewriteRule ^search:([a-zA-Z0-9-_\.]+)$ index.php?search=$1

<FilesMatch "\.(htaccess|htpasswd|ini|log|inc|bak|sqlite)$">
	order allow,deny
	deny from all
</FilesMatch>