<form class="form-horizontal" action="javascript:void(0);" id="form-{{ uid }}">

	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-name') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.name }}" name="name" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-logo') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.logo }}" name="logo" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-title') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.title }}" name="title" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-description') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.description }}" name="description" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-keywords') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.keywords }}" name="keywords" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-sys_lang') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.sys_lang }}" name="sys_lang" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-sys_lang_string') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.sys_lang_string }}" name="sys_lang_string" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-prefix') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.prefix }}" name="prefix" readonly="readonly" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-friendly_url') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.friendly_url }}" name="friendly_url" readonly="readonly" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-timezone') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.timezone }}" name="timezone" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-debug') }}</label>
		<div class="controls">
			<select name="debug">
				<option value="1" {% if data.debug %} selected="selected"{% endif %}>{{ tr.get('on') }}</option>
				<option value="0" {% if data.debug == false %} selected="selected"{% endif %}>{{ tr.get('off') }}</option>
			</select>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-thumbs_dimensions') }}</label>
		<div class="controls">
			<input type="text" class="span2" value="{{ data.thumbs_dimensions }}" name="thumbs_dimensions" />
		</div>
	</div>
	
	<hr />
	<p class="lead">{{ tr.get('cfg-art_img_dimensions') }}</p>
	{% if data.art_img|length > 0 %}
		{% for art_img in data.art_img %}
			<div class="control-group">
				<div class="controls">
					<input type="text" class="span2" value="{{ art_img }}" name="art_img[]" />
					<a class="btn delete-row"><i class="icon icon-trash"></i></a>
				</div>
			</div>
		{% endfor %}
	{% endif %}
	<div class="control-group">
		<div class="controls">
			<input type="text" class="span2" value="{{ art_img }}" name="art_img[]" />
		</div>
	</div>
	
	<hr />
	<p class="lead">{{ tr.get('cfg-ga') }}</p>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-ga_id') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.ga_id }}" name="ga_id" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ tr.get('cfg-ga_domain') }}</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.ga_domain }}" name="ga_domain" />
		</div>
	</div>
	
	
	<hr />
	<p class="lead">{{ tr.get('cfg-languages') }}</p>
	
	{% for lang in data.languages %}
	<div class="control-group">
		<div class="controls">
			<input type="text" class="span2" value="{{ lang.id }}" name="languages[{{ loop.index0 }}][id]" />
			<input type="text" class="span3" value="{{ lang.string }}" name="languages[{{ loop.index0 }}][string]" />
			<select class="span1" name="languages[{{ loop.index0 }}][published]">
				<option></option>
				<option{% if lang.published %} selected="selected "{% endif %}>1</option>
			</select>
			<a class="btn delete-lang"><i class="icon icon-trash"></i></a>
		</div>
	</div>
	{% endfor %}
	
	<div class="control-group">
		<div class="controls">
			<input type="text" class="span2" name="languages[{{ data.languages|length }}][id]" />
			<input type="text" class="span3" name="languages[{{ data.languages|length }}][string]" />
			<select class="span1" name="languages[{{ data.languages|length }}][published]">
				<option></option>
				<option>1</option>
			</select>
			<a class="btn add-lang"><i class="icon icon-hdd"></i></a>
		</div>
	</div>
	
	<hr />
	<p class="lead">{{ tr.get('custom_fields') }}</p>
	
	{% for fld in data.custom_fields %}
	<div class="control-group">
		<div class="controls">
			<input type="text" class="span6" value="{{ fld }}" name="custom_fields[{{ loop.index0 }}]" />
			<a class="btn delete-custom_field"><i class="icon icon-trash"></i></a>
		</div>
	</div>
	{% endfor %}
	
	<div class="control-group">
		<div class="controls">
			<input type="text" class="span6" name="custom_fields[{{ data.custom_fields|length }}]" />
			<a class="btn add-custom_field"><i class="icon icon-hdd"></i></a>
		</div>
	</div>
	
	
	<hr />
	<p class="lead">{{ tr.get('cfg-paths') }}</p>
	
	<div class="control-group">
		<label class="control-label">convert</label>
		<div class="controls">
			<input type="text" class="span8" value="{{ data.paths.convert }}" name="paths[convert]" />
		</div>
	</div>
	
	<hr />
	<p class="lead">{{ tr.get('cfg-users') }}</p>
	
	{% for user in data.users %}
	<div class="control-group">
		<div class="controls">
			<input type="text" value="{{ user.name }}" class="span4" name="users[{{ loop.index0 }}][name]" {% if user.name == 'jbogdani@gmail.com' %} readonly="readonly" {% endif %} />
			<code>»</code>
			<input type="text" name="users[{{ loop.index0 }}][pwd]" value="{{ user.pwd }}" class="span4" {% if name == 'jbogdani@gmail.com' %} readonly="readonly" {% endif %} />
		</div>
	</div>
	{% endfor %}
	
	<div class="control-group">
		<div class="controls">
			<input type="text" class="span4" name="users[{{ data.users|length }}][name]" />
			<code>»</code>
			<input type="text" name="users[{{ data.users|length }}][pwd]" class="span4" />
		</div>
	</div>
	

<button class="btn btn-success" type="submit">{{ tr.get('save') }}</button>
</form>

<hr />
<p class="lead">{{ tr.get('empty_cache') }}</p>
<button class="btn btn-warning btn-large" id="cache-{{ uid }}"><i class="icon-white icon-trash"></i> {{ tr.get('empty_cache')}}</button>
<span class="help-block">{{ tr.get('cache_help_text') }}</span>

<script>
$('#form-{{ uid }}').on('submit', function(){
	$.post('controller.php?obj=cfg_ctrl&method=save', $(this).serialize(), function(data){
		admin.tabs.reloadActive();
	});
});

$('#cache-{{ uid }}').on('click', function(){
	console.log($(this));
	$.get('controller.php?obj=cfg_ctrl&method=empty_cache', function(data){
		admin.message(data.text, data.status);
	}, 'json');
});

$('button.add-custom_field').on('click', function(){});
$('button.delete-custom_field').on('click', function(){});
$('button.add-lang').on('click', function(){});
$('button.delete-lang').on('click', function(){});
$('a.delete-row').on('click', function(){
	$(this).parents('div.control-group').hide().find(':input').val('');
});
/*
<div class="control-group">
				<div class="controls">
					<input type="text" class="span2" value="{{ art_img }}" name="art_img[]" />
					<a class="btn delete-row"><i class="icon icon-trash"></i></a>
				</div>
			</div>
 */
</script>