<style>
	dl.docs dt{
		margin-top: 20px;
	}
</style>

<h1>FAQ</h1>
<div class="row" id="{{ uid }}">
	
	<div class="col-md-5">	
		<div class="ullist well">
			<ul class="nav nav-list menu"></ul>
		</div>
	</div>
	
	<div class="col-md-7">
		<dl class="docs">
			<dt>How to add a new article?</dt>
			<dd><pre>Main menu > Articles > Add new Article</pre></dd>
		
			<dt>How to edit existing article?</dt>
			<dd>
				<pre>Main menu > Articles > Show all articles</pre>
				Find in the list the article you want to edit. Also the serach filter can be used. Click on edit button.
			</dd>
			
			<dt>How to create a new menu?</dt>
			<dd>
				<pre>Main menu > Menu > Add new menu item</pre>
				Fill the field "Menu" with the name of the new menu. 
			</dd>
			
			<dt>What information are needed to create a new menu item?</dt>
			<dd>
				To add a new menu item the following information is necessary:
					<ul>
						<li>Text: is the text that users will see</li>
						<li>Link: the link the menu item will point to. For external links also the <code>http://</code> part is needed (eg.: <code>http://bradypus.net</code>). For internal links the following syntaxt should be used:
						<ul>
							<li><code>article_textid</code> for links to articles</li>
							<li><code>tag1.all</code> for links to lists of articles tagged by a single tag</li>
              <li><code>tag1-tag2-tag3.all</code> for links to lists of articles tagged by all provided tags (tag1, tag2, tag3, etc)</li>
              <li><code>tag1~tag2~tag3.all</code> for links to lists of articles tagged by any of the provided tags (tag1, tag2, tag3, etc)</li>
							<li><code>./</code> to link to the home page</li>
							<li><code>#</code> do nothing link</li>
						</ul>
						Links to articles, tags lists and more can also be entred by using the widget on the left. Clicking on one article or tags, etc, the input will be filled automatically.</li>
						<li>Target: where the link will be opened:
							<ul>
								<li>if not set all links will be opened in the same window or tab</li>
								<li><code>_blank</code> will open the link in a new window or tab</li>
							</ul>
						</li>
						<li>Title: an explicative text that the user will see on hovering the menu text with the cursor</li>
						<li>Menu: menu name. If choosen from the available list, the menu item will be added to that menu. If a new string is entered a new menu is created. <code>Attention:</code> No white spaces, upper case or special characters in this field, please!</li>
						<li>Sub menu of: if an existing menu is select a list of the available menu items (siblings) will be shown. If one of them is selected this menu item will be nested to the selected item. <code>Attention:</code> Please see the "How to manage menus?" section for easily nestins menu items</li>
						<li>Sorting: Only integers are allowed in this field. Use this field to controle the order of appearance of the menu items. <code>Attention:</code> Please see the "How to manage menus?" section for easily sorting menu items</li>
					</ul>
			</dd>
			
			<dt>How to manage menus?</dt>
			<dd>
				<pre>Main menu > Menu > Show all menus</pre>
				If menus are available will be listed here. Fot each available menu will be provided a list containing all items. Clicking on an item will open it in a new tab for editing (for detail see <code>What information are needed to create a new menu item?</code>).
				<p>Menu items can be ordered bu dragging & dropping them. In the same way these items can be nested into one another. Settings are automatically saved.</p>
			</dd>
			
			<dt>How to insert menu divider item</dt>
			<dd>
				To add menu divider just add a new menu item having as <strong>Text</strong> and as <strong>Link</strong> just a dot (.). This will output <code>&#60;li class="divider"&#62;&#60;/li&#62;</code>
			</dd>
			
			<dt>How to upload files?</dt>
			<dd>
				<pre>Main menu > Media > Media</pre>
				Click on "Upload a file" button, or drag& drop files from your folders to the "Upload a file" button. Multiple files can be loaded simultanously. 
			</dd>
			
			<dt>Can I organize my files in folders?</dt>
			<dd>
				Yes. In the media folder you can create all the directories you need to beter organize your files. Creating a folder is easy as typing its name:
				<pre>Main menu > Media > Media</pre>
				Simply click on one folder to enter in it and use the navigation bar to go back up to the root folder.
			</dd>
		
			<dt>Can I navigate my files and folders?</dt>
			<dd>
				<pre>Main menu > Media > Media</pre>
				In the navigation bar enter in the input the name of the directory you want to create and click "Create & Go!". The new folder will be created and you will be durected there, ready to upload files.
			</dd>
			
			<dt>Can I delete or rename my files?</dt>
			<dd>
				Yes you can!
				<pre>Main menu > Media > Media</pre>
				Just click on the file and a popup will appear (click on the file to make it disappear again). In the popup you can fine the file URL to use in your articles, an input where you can enter the new name, to rename the file (<code>Attention:</code> make sure to use the same file extension), and the open / download and delete buttons.
				<p><code>Tip:</code> in the new name input you can also use relative paths to move your file in other folder!</p>
			</dd>
			
			<dt>How can I delete a a folder I don't need anymore?</dt>
			<dd>You can not delete folders that contains files. Thus, to delete a folder you must delete or move (see: <code>Can I delete or rename my files?</code>) all files inside. Once the folder is empty a button will appear and you can delete it.</dd>
			
			<dt>How can I translate an article?</dt>
			<dd>
				<pre>Main menu > Articles > Translations</pre>
				Click in the language you want to translate in, a table showinf the translation status for each article will appear. To translate an article click on the edit button. It will open the article translation form for the article. The automatic copy & paste buttons (<code>>></code>) can help in copying the original text in the translation box, in order to import images and other tags in the translation. 
			</dd>
			
			<dt>How can I translate a menu item?</dt>
			<dd>
				<pre>Main menu > Menu > Translations</pre>
				Click in the language you want to translate in, a table showinf the translation status for each menu item will appear. To translate a menu item click on the edit button. It will open the menu translation form for the menu item. The automatic copy & paste buttons (<code>>></code>) can help in copying the original text in the translation box, in order to import images and other tags in the translation. 
			</dd>
			
			<dt>Can I have nested articles?</dt>
			<dd>BraDypUS CMS supports something similar to "Nested articles". It's a feature that permits to use an article as an introduction text for a list of articles, usually articles of the same section. To achieve this just create a new article having as <code>text id</code> the same string as the section name you want to use this article as introduction for. This article will be used as intro text for the section blog list!</dd>
			
			
			<dt>For DESIGNERS: How to create and edit a site template?</dt>
			<dd>
				<p>To edit the <strong>HTML</strong> of the main index file:</p>
				<pre>Main menu > Other > Template manager > Edit HTML</pre>
				or follow <a href="#template/index">this link</a>. Plaese check the <a href="#docs/read/intro">template documentation</a>.
				
				<p>To edit the <strong>CSS</strong>:</p>
				<pre>Main menu > Other > Template manager > Edit CSS</pre>
				or follow <a href="#template/css">this link</a>.
				
			</dd>
			
			<dt>How can I create a new image gallery?</dt>
			<dd>
				<pre>Main menu > Media > Galleries</pre>
				Will list all available image galleries. To add a new Gallery just click on the PLUS button, <code>Add new gallery</code>. You will be promped fot the gallery name. Be carefull: no spaces, special characters of commas (,), dashes (-), apices (') or double apices (") are allowed. If entered these characters will be automatically replaced with underscores (_). Gallery names must be lower case.
			</dd>
			
			<dt>How can I edit an existing image gallery?</dt>
			<dd>
				<pre>Main menu > Media > Galleries</pre>
				Will list all available image galleries. Just click on the gallery you want to edit.
				<p>Images can be loaded by clicking, in the lower part of the page, the <code>Upload file</code> button. More images can be load simultaneously. An easier way to load more images is by simply dragging and dropping them from your computer to the button.</p>
				<p>After the images are loaded you can entre the captions, bu writing in the <code>Description</code> column. Clicking on save will save all captions.</p>
				<p>An easy way to create image thumbnails is by using the <code>(Re) create thumbnail</code> button in the Thumbnail column. This will create an image thumbnail measuring 200x200px.</p>
				<p class="text-error"><strong>Pay attention</strong>: for the thumbnail creator to work is necessary to have a valid convert path in the system configuration!</p>
			</dd>
			
			<dt>How can I translate an existing image gallery?</dt>
			<dd>
				<pre>Main menu > Media > Galleries</pre>
				<p>Will list all available image galleries; click on the gallery you want to translate.</p>
				<p>Click in the menu bar, under the page title, the language you want to add a translation for and write caption translations.</p>
				<p>When you have finished click on any save button, to save the translations.</p>
			</dd>
			
			<dt>How can I create delete an image or a whole gallery?</dt>
			<dd>
				<pre>Main menu > Media > Galleries</pre>
				<p>Click on the gallery you want to edit / delete</p>
				<p>Clicking the <code>Delete</code> button in the image column will delete the original image, its thumbnail and captio if exist. This action can not be undone.</p>
				<p>To delete a whole gallery all images must be deleted first. When no images are present a button <code>Delete gallery</code> will be shown and the gallery can be deleted. This action can not be undone.</p> 
			</dd>
			
			
			<dt>What is a <em>conditional loading gallery</em> and how can I add it in an article's body?</dt>
			<dd>
				<p>BraDyCMS permits the creation of conditional loading galleries. Using these kind of galleries instead of the normal ones permits web designres to create faster websites for mobile templates</p>
				<p>If you are building responsive layouts and do not want to show your image gallery in smaller devices, you surel do not want to load gallery image at all, in order to save bandwidth.</p>
				<p>Conditional loading galleries will load images only if the <code>unordered list (ul)</code> element which holds the galley itself is visible. Images will be loaded using javascript. A jQuery plugin (<code>jquery.cl_gallery.js</code>) is provided.</p>
				<p>To add a conditional loading gallery in the article body a special syntax is provided:</p>
				<pre>[[cl_gallery]]gallery_name[[/cl_gallery]]</pre>
				<p>Conditional loading galleries uses the same options as galleries</p>
				<p class="text-warning"><strong>Hold on!</strong> For conditional loading image galleries to work properly adeguate javascript jquery plugin <code>jquery.cl_gallery.js</code> should be loaded and executed!</p>
			</dd>
			
			
		</dl>
	</div>
</div>

<script>
$('#{{ uid }} dl.docs dt').each(function(i, el){
  var li = $('<li><a href="javascript:void(0)">' + $(el).text() + '</a></li>').on('click', function(){
    $(document).scrollTop( $(el).offset().top - 50 );
  });
	$('#{{ uid }} ul.menu').append(li);
});

$('#{{ uid }} div.ullist').affix({
		offset: {
			top: 80
		}
	});
</script>