<h2>Build and embed maps in article body and in template files</h2>

<h3>Intro</h3>
<p>BraDyCMS has a built in module for the creation of custom maps and their embedding in articles, using <a href="http://leafletjs.com/" target="_blank">Leaflet.js</a> and <a href="http://osm.org/copyright">OpenStreetMap</a>.</p>
<p>There is a specific admin plugin to handle the creation and the management of custom maps. The plugin is located in the main menu: <code>{{ tr.get('plugins') }}</code> > <code>{{ tr.get('user_maps') }}</code>.</p>

<h3>Create a new custom map</h3>
<p>To create a new custom form just click the <code>{{ tr.get('add_new_map') }}</code> button and enter a map id.</p>
<p class="text-danger">Pay attention: map ids must be unique. If you enter the name of a previously existing form the former will be deleted and <strong>overwritten</strong>!</p>


<h3>Embed a mao in article's body</h3>
<p>Embedding a map in an article's body is very simple. Just use the custom tag <code>[[map]]</code> with the name/id of your form.</p>
<p>For example, to embed the map named <code>find_us</code> in an article's body just add this simple tag:</p>
<pre>[[map]]find_us[[/map]]</pre>
<p>You can also set the dimensions of the form by using the attributes <code>width</code> and <code>height</code>, eg.:</p>
<pre>[[map width="300px" height="300px"]]find_us[[/map]]</pre>
<p>If these attiributes are missing the default values of 100% for width and 400px for height will be used</p>

<h3>Custom map syntax</h3>
<p>The configuration of a user map must follow a simple but rigid syntax. The configuration file must be a valid <a href="http://www.json.org/" target="_blank">json file</a>. BraDyCMS integrates a real-time validator to help finding any syntax error.</p>
		


<h4>General data</h4>
<table class="table table-bordered table-striped">
	<tr>
		<th>Parameter</th>
		<th>Type</th>
		<th>Required/optional</th>
		<th>Description</th>
	</tr>

	<tr>
		<th>scrollWheelZoom</th>
		<td>boolean</td>
		<td>optional</td>
		<td>Enable or not the scroll wheel zoom. Default false.</td>
	</tr>

	<tr>
		<th>attribution</th>
		<td>string</td>
		<td>optional</td>
		<td>A html string to display in the right low corner. Default: false</td>
	</tr>

	<tr>
		<th>zoom</th>
		<td>int</td>
		<td>optional</td>
		<td>Initial map zoom. Default: false</td>
	</tr>

	<tr>
		<th>center</th>
		<td>array</td>
		<td>optional</td>
		<td>Initial geographical center of the map expressed as an array of latitude and longitude, eg: <code>[44.51618,11.34238]</code>. Default false.</td>
	</tr>

	<tr>
		<th>zoomToBounds</th>
		<td>boolean</td>
		<td>optional</td>
		<td>If true the map will automatically zoom and center to show all markers. Default false</td>
	</tr>

	<tr>
		<th>markers</th>
		<td>array</td>
		<td>required</td>
		<td>Array of markers</td>
	</tr>
	
</table>

<hr />

<h4>Markers definition</h4>

<table class="table table-bordered table-striped">
	<tr>
		<th>Parameter</th>
		<th>Type</th>
		<th>Required/optional</th>
		<th>Description</th>
	</tr>

	<tr>
		<th>coord</th>
		<td>array</td>
		<td>required</td>
		<td>Marker's coordinates expressed as an array of latitude and longitude, eg: <code>[44.51618,11.34238]</code>.</td>
	</tr>
	
	<tr>
		<th>name</th>
		<td>string</td>
		<td>required</td>
		<td>Text or HTML to use on marker ballons</td>
	</tr>
	
</table>

<hr />

<h5>Example of a simple contact form</h5>

<pre class="prettyprint">
{
  "scrollWheelZoom": "false",
  "attribution": "&lt;a href=\"http:\/\/bradypus.net\" title=\"BraDypUS. Communicating Cultural Heritage\"&gt;BraDypUS&lt;\/a&gt;",
  "zoomToBounds": true,
  "markers": [
    {
      "coord": [44.51618, 11.34238],
      "name": "&lt;strong&gt;BraDypUS&lt;/strong&gt;. Via A. Fioravanti, 72.&lt;\/br&gt; 40129 Bologna Italy"
    }
  ]
}
</pre>

<script>window.prettyPrint && prettyPrint();</script>
