<h2>Build and embed in articles forms</h2>

<h3>Intro</h3>
<p>BraDyCMS supports natively the creation of custom forms and their embedding in articles.</p>
<p>There is a specific admin plugin to handle the creation and the management of custom forms. The plugin is located in the main menu: <code>{{ tr.get('plugins') }}</code> > <code>{{ tr.get('user_forms') }}</code>.</p>

<h3>Create a new custom form</h3>
<p>To create a new custom form just click the <code>{{ tr.get('add_new_form') }}</code> button and enter a form id.</p>
<p class="bg-danger">Pay attention: form ids must be unique. If you enter the name of a previously existing form the former will be deleted and <strong>overwritten</strong>!</p>


<h3>Embed a form in article's body</h3>
<p>Embedding a form in an article's body is very simple. Just use the custom tag <code>[[userform]]</code> with the name/id of your form.</p>
<p>For example, to embed the form named <code>contactus</code> in an article's body just add this simple tag:</p>
<pre>[[userform]]contactus[[/userform]]</pre>
<p>You can aso provide a subject directly in the form definition, overwrting the custom one defined in the configuration file (see below):</p>
<pre>[[userform subject="Contact us"]]contactus[[/userform]]</pre>
<p>BraDyCMS will do the rest: form formatting, validation and email & attach delivery.</p>



<h3>Custom form syntax</h3>
<p>The configuration of a user form must follow a simple but rigid syntax. The configuration file must be a valid <a href="http://www.json.org/" target="_blank">json file</a>. BraDyCMS integrates a real-time validator to help finding any syntax error.</p>
		


<h4>General data</h4>
<table class="table table-bordered table-striped">
	<tr>
		<th>Parameter</th>
		<th>Type</th>
		<th>Required/optional</th>
		<th>Description</th>
	</tr>

	<tr>
		<th>to</th>
		<td>string</td>
		<td>required</td>
		<td>A valid email address</td>
	</tr>

	<tr>
		<th>from_email</th>
		<td>string</td>
		<td>required</td>
		<td>Valid email address</td>
	</tr>

	<tr>
		<th>from_name</th>
		<td>string</td>
		<td>optional</td>
		<td>Name for the from_email address</td>
	</tr>

	<tr>
		<th>subject</th>
		<td>string</td>
		<td>required</td>
		<td>Email message subject. This setting can be overwritten in the article content of template file where the form is rendered.</td>
	</tr>

	<tr>
		<th>success_text</th>
		<td>string</td>
		<td>required</td>
		<td>Message to display when email is successfully sent</td>
	</tr>

	<tr>
		<th>error_text</th>
		<td>string</td>
		<td>required</td>
		<td>Message to display when email is NOT successfully sent</td>
	</tr>
	
	<tr>
		<th>inline</th>
		<td>boolean</td>
		<td>optional</td>
		<td>If this value is present and is true input lables will be displayed inline, right to the field, otherwise (default value) the label will be displayed above the field</td>
	</tr>
</table>

<hr />

<h4>Form element's data</h4>
<p>Form elements should be defined as an array. There is not a limit to the number of form elements that can be added to a form.</p>
<p>Each element should have a unique name and one of the predefined types.</p>

<table class="table table-bordered table-striped">
	<tr>
		<th>Parameter</th>
		<th>Type</th>
		<th>Required/optional</th>
		<th>Description</th>
	</tr>

	<tr>
		<th>name</th>
		<td>string</td>
		<td>required</td>
		<td>Unique name. No whitespaces or special characters should be used. This is not visible to users and is used only for internal reference</td>
	</tr>
	
	<tr>
		<th>label</th>
		<td>string</td>
		<td>optional</td>
		<td>This label will be visible to users.</td>
	</tr>
	
	<tr>
		<th>placeholder</th>
		<td>string</td>
		<td>optional</td>
		<td>Placehoder visible to users.</td>
	</tr>

  <tr>
		<th>type</th>
		<td>string</td>
		<td>required</td>
		<td>The field type to display to users. One of the following can be used:<br />
			<ul>
				<li>text: a simple, one line, input field will be shown. This is the default value</li>
				<li>longtext: a simple multiline input field will be shown</li>
				<li>select: a drop down list vill be shown. For select to work properly the <code>options</code> parameter must be provided.</li>
				<li>upload: this will show a button that can be used to upload files. For upload to work properly the <code>sizeLimit</code> and <code>allowedExtensions</code> can be provided</li>
			</ul>
		</td>
	</tr>
	
	<tr>
		<th>options</th>
		<td>array</td>
		<td>required if type is select</td>
		<td>array of values to use as predefined options for drop down list</td>
	</tr>
	
	<tr>
		<th>is_required</th>
		<td>boolean</td>
		<td>optional</td>
		<td>if true or if defined the field value can not be empty, users can not submit the form and warnig message will be shown.</td>
	</tr>
	
	<tr>
		<th>is_email</th>
		<td>boolean</td>
		<td>optional</td>
		<td>if true or if defined the field value will be checked to match a valid email pattern. in case of errors users can not submit the form and warnig message will be shown.</td>
	</tr>
	
	<tr>
		<th>sizeLimit</th>
		<td>integer</td>
		<td>optional</td>
		<td>Size limit for files to upload in bytes. This option is available only if field type is <code>upload</code>. If user tries to upload a bigger file a warning message is shown and the file is not uploaded</td>
	</tr>
	
	<tr>
		<th>allowedExtensions</th>
		<td>array</td>
		<td>optional</td>
		<td>Array with allowed file extensions. This option is available only if field type is <code>upload</code>. If user tries to upload a file with a different extension a warnin message is shown and the file is not uploaded.</td>
	</tr>

</table>

<hr />

<h5>Example of a simple contact form</h5>

<pre class="prettyprint">
{
  "to": "info@bradypus.com",
  "from_email": "info@bradypus.com",
  "from_name": "BraDypUS communicating cultural heritage",
  "subject":"Contact form",
  "success_text":"Your message was successfully sent",
  "error_text": "Sorry, something went wrong and it was not possible to send your message"
  "inline": true,
  "elements": [
    {
      "name": "name",
      "label": "Name",
      "placehoder": "Name",
      "type": "text",
      "is_required": "true"
    },
    {
      "name": "email",
      "label": "Email address",
      "placeholder": "Email address",
      "type": "text",
      "is_required": "true",
      "is_email": "true"
    },
    {
      "name": "phone_no",
      "label": "Phone number",
      "placeholder": "Phone number",
      "type": "text"
    },
    {
      "name": "location",
      "label": "Location",
      "type": "text"
    },
    {
      "name": "how_did_you_hear_about_us",
      "label": "How did you hear about us?",
      "placehoder": "How did you hear about us?",
      "type": "select",
      "options": [
        "google",
        "email message",
        "friends"
      ]
    },
    {
      "name": "comments",
      "label": "Comments",
      "placeholer": "Comments",
      "type": "longtext"
    },
    {
      "name": "uploadcv",
      "label": "Upload your CV",
      "type": "upload",
      "sizeLimit": "2097152",
      "allowedExtensions": [
        "pdf",
        "doc",
        "docx",
        "odt"
      ]
    }
  ]
}
</pre>

<script>window.prettyPrint && prettyPrint();</script>
