<div class="container-fluid">
	<div class="btn-group" style="padding:20px 0;">
		<a class="btn" href="#article/addNew" title="{{ tr.get('add_new_article') }}"><i class="icon-plus"></i> {{ tr.get('add_new_article') }}</a>
		<a class="btn" href="#translate/article" title="{{ tr.get('translations') }}"><i class="icon-globe"></i> {{ tr.get('translations') }}</a>
		<a class="btn reload" title="{{ tr.get('reload') }}"><i class="icon-repeat"></i> {{ tr.get('reload') }}</a>
	</div>

	<div class="row-fluid">
		<div class="span10">
			<form action="javascript:void(0)" id="edit_form{{ uid }}">
				<div class="row">
					<!-- first column -->
					<div class="span4">
						<label>{{ tr.get('title') }}</label>
						<input type="text" name="title" value="{{ art.title}}" class="span12" />
						
						<label>{{ tr.get('text_id') }}</label>
						<input type="text" name="text_id" value="{{ art.text_id }}" class="span12" />
						
						<label>{{ tr.get('sorting') }}</label>
						<input type="text" name="sort" value="{{ art.sort}}" class="span12" />
						
						<label>{{ tr.get('keywords') }}</label>
						<input type="text" name="keywords" value="{{ art.keywords }}" class="span12" />
						
						<label>{{ tr.get('author') }}</label>
						<input type="text" name="author" value="{{ art.author }}" class="span12" />
		
						<label>{{ tr.get('status') }}</label>
						<select name="status" class="span12">
							<option value="0" {% if art.status == false %} selected="true" {% endif %}>Nascosto</option>
							<option value="1" {% if art.status %} selected="true" {% endif %}>Visibile</option>
						</select>
		
						<label>{{ tr.get('section') }}</label>
						<input type="text" name="section" value="{{ art.section }}" class="span12" />
						
						
						<label>{{ tr.get('tags') }}</label>
						<input type="text" name="tags" value="{{ art.tags }}" class="span12" />
						
						<label>{{ tr.get('creation_date') }}</label>
						<input class="datepicker span12" type="text" name="created"
								value="{% if art.created %}{{ art.created }}{% else %}{{ date }}{% endif %}" />
						
						<label>{{ tr.get('pubblication_date') }}</label>
						<input class="datepicker span12" type="text" name="publish_on"
								value="{% if art.publish_on %}{{ art.publish_on }}{% else %}{{ date }}{% endif %}" />
						
						<label>{{ tr.get('expiration_date') }}</label>
						<input class="datepicker span12" type="text" name="expires"
								value="{% if art.expires %}{{ art.expires }}{% else %}{{ date }}{% endif %}" />
						
						
						<label> {{ tr.get('last_update') }}</label>
						{{ art.updated }}
					</div>
					
					<!-- second column -->
					<div class="span8">
						<label>{{ tr.get('summary') }}</label>
						<textarea name="summary" id="summary{{ uid }}" style="width:100%; height: 150px;">{{ art.summary }}</textarea>
						
						<label>{{ tr.get('text') }}</label>
						<textarea name="text" style="width:100%; height: 500px;" id="text{{ uid }}">{{ art.text }}</textarea>
					</div>
				</div>
				<div class="row">
					{% if custom_fields %}
						<hr />
						<h4>{{ tr.get('custom_fields') }}</h4>
						<div class="row-fluid">
							{% for fld in custom_fields %}
								<div class="span2">
									<p>
										<label>{{ fld.label|upper }}</label>
										{% if fld.type == 'longtext' %}
										<textarea name="{{ fld.name }}"  class="span12">{{ art[fld.name] }}</textarea>
										{% elseif fld.type == 'select' and fld.values %}
											<select class="span12" name="{{ fld.name }}"  >
												{% for opt in fld.values|split(',') %}
													<option{% if opt == art[fld.name] %} selected="selected" {% endif %}>{{ opt }}</option>
												{% endfor %}
											</select>
										{% else %}
										<input name="{{ fld.name }}" type="text" value="{{ art[fld.name] }}" class="span12" />
										{% endif %}
								</div>
								{% if loop.index is divisibleby(6) %}
								</div>
								<div class="row-fluid">
								{% endif %}
							{% endfor %}
							</fieldset>
						</div>
					{% endif %}
				</div>
				<button class="btn btn-success" type="submit">{{ tr.get('save') }}</button>
				<button class="btn" type="reset">{{ tr.get('reset') }}</button>
			</form>
		</div>
		<!-- third column -->
		<div class="span2">
			{% if art_imgs|length > 0 %}
				<label>{{ tr.get('article_image') }}</label>
				{% for dim, file in art_imgs %}
					{% if loop.first %}
						<img src ="{{ file }}?{{ uid }}" />
						<br />
						<p><a class="delete_attach_img btn btn-danger"><i class="icon-white icon-trash"></i> {{ tr.get('delete_art_img') }}</a></p>
						<hr />
						<label>{{ tr.get('available_dimensions') }}</label>
					{% endif %}
					<p>{{ dim }}</p>
				{% endfor %}
				
			{% elseif art.id %}
				<p class="text-error">{{ tr.get('no_art_img_available') }}</p>
			{% endif %}
			
			{% if art.id %}
			<div id="file_uploader_{{ uid }}"></div>
			{% endif %}
		</div>
		
	</div>
</div>
	

<script>
	tinyMCE.execCommand("mceAddControl", false, "summary{{ uid }}");
	tinyMCE.execCommand("mceAddControl", false, "text{{ uid }}");

	$('a.reload').click(function(){
		admin.tabs.reloadActive();
		return false;
	});

	$('#edit_form{{ uid }} input[name="text_id"]').on('change', function(){
		$this = $(this);
		
		if ($this.val() != '{{ art.text_id }}'){
			$.get('controller.php?obj=article_ctrl&method=check_duplicates&param[]=' + $(this).val(), function(data){
				if (data){
					$this.focus();
					admin.message(data, 'error');
				}
			});
		}
	});
	
	{% if sections %}
	$('#edit_form{{ uid }} input[name="section"]').select2({
		data: [
		       {% for i, m in sections %}
		       {id:'{{ m }}', text: '{{ m }}'},
		       {% endfor %}
		       ],
		createSearchChoice: function(term){
			return {id:term, text:term};
		},
		initSelection:function(el, callback){
			var value = $(el).val();
			callback({id: value, text:value});
		}
	});
	{% endif %}
	
	{% if imploded_tags %}
	$('#edit_form{{ uid }} input[name="tags"]').select2({
		tags: [{{ imploded_tags|raw }}]
	});
	{% endif %}
	
	$('#edit_form{{ uid }} input.datepicker').datepicker({format: 'yyyy-mm-dd'});

	$('#edit_form{{ uid }}').submit( function(){

		var url = 'controller.php?obj=article_ctrl&method=save&param[]={{ art.id }}';

		tinyMCE.triggerSave();
		
		$.post(
			url,
			$('#edit_form{{ uid }}').serialize(),
			
			function(data) {
				admin.message(data.text, data.type);
				{% if art.id == false %}
				if (data.type == 'success'){
					admin.tabs.closeActive('article/edit/' + data.id);
				}
				{% endif %} 
			},
			'json'
		);			
	});

	{% if art.id %}
	new qq.FileUploader({
		element: $('#file_uploader_{{ uid }}')[0],
		action: 'controller.php?obj=utils&method=upload&param[]={{ tmp_path }}',
		sizeLimit: 0,
		minSizeLimit: 0,
		onComplete: function(id, filename, responseJSON){
			$.get('controller.php?obj=article_ctrl&method=attachImage&param[]={{ art.id }}&param[]=' + responseJSON.filename + '.' + responseJSON.ext, function(data){
				admin.message(data.text, data.status);

				if (data.status == 'success'){
					$('#edit_form{{ uid }}').submit();
					admin.tabs.reloadActive();
				}
			}, 'json');
		}
	});

	$('a.delete_attach_img').on('click', function(){
		$.get('controller.php?obj=article_ctrl&method=delete_art_img&param[]={{ art.id }}', function(data){
			admin.message(data.text, data.status);
			$('#edit_form{{ uid }}').submit();
			admin.tabs.reloadActive();
		}, 'json');
	});
	{% endif %}

	
</script>