<div id="{{ uid }}">
	<h2>{{ tr.get('edit_gallery') }}: {{ gallery }}</h2>
	
	
	
	<div class="row-fluid table">
		<div class="span8">
			{% if files|length == 0 %}
				<button class="btn btn-danger delete-gal">{{ tr.get('delete_gal') }}</button>
			{% else %}
				<form action="javascript:void(0)">
					{% for file in files %}
						<div class="row-fluid tr{% if loop.index is divisibleby (2) %} well well-small {% endif %}">
							<div class="span2 td">
								<h4>{{ file.name }}</h4>
								<p><button class="btn btn-danger delete" data-file="{{ file.name }}"><i class="icon-white icon-trash"></i> {{ tr.get('delete') }}</button></p>
							</div>
							
							<div class="span3 td">
								<img src="{{ file.fullpath }}" />
								<pre>{{ tr.get('img_dimensions') }}: {{ file.finfo.0 }}x{{ file.finfo.1 }}px</pre>
							</div>
							
							<div class="span3 td">
								<textarea data-file="{{ file.name }}" class="span12" style="height:150px" name="{{ file.formattedName }}">{{ file.description }}</textarea>
								<p><button class="btn btn-success save" data-file="{{ file.name }}"><i class="icon-white icon-ok"></i> {{ tr.get('save') }}</button></p>
							</div>
							
							<div class="span3 td">
								<div class="img-thumb">
								{% if file.thumb %}
									<img src="{{ file.thumb }}" />
								{% endif %}
								</div>
								<button class="btn btn-info create_thumb" data-file="{{ file.name }}" data-width="{{ file.finfo.0 }}" data-height="{{ file.finfo.1 }}"><i class="icon-white icon-th-large"></i> {{ tr.get('re_create_thumb') }}</button>
							</div>
							
						</div>
					{% endfor %}
				</form>
			{% endif %}
		</div>
		
		<div class="span3">
			<div class="uploader"></div>
		</div>
	</div>
</div>

<script>
	new qq.FileUploader({
		element: $('#{{ uid }} div.uploader')[0],
		action: 'controller.php?obj=utils&method=upload&param[]={{ upload_dir }}',
		sizeLimit: 0,
		minSizeLimit: 0,
		onComplete: function(){
			admin.tabs.reloadActive();
		}
	});
	
	$('#{{ uid }} button.create_thumb').on('click', function(){
		var $this = $(this);
		$.post('controller.php?obj=galleries_ctrl&method=makeThumbs&param[]={{ upload_dir }}&param[]=' + $(this).data('file'), function(data){
			admin.message(data.text, data.status);
			if (data.status == 'success'){
				$this.parents('div.td').find('div.img-thumb').html('<img src="' + data.thumb + '" />');
				//admin.tabs.reloadActive();
			}
		}, 'json');
	});
	
	$('#{{ uid }} button.save').on('click', function(){
		$.post('controller.php?obj=galleries_ctrl&method=saveData&param[]={{ upload_dir }}', $('#{{ uid }} form').serializeArray(), function(data){
			admin.message(data.text, data.status);
		}, 'json');
	});
	
	
	$('#{{ uid }} button.delete').on('click', function(){
		$this = $(this);
		$.get('controller.php?obj=galleries_ctrl&method=deleteImg&param[]={{ upload_dir }}&param[]=' + $(this).data('file'), function(data){
			admin.message(data.text, data.status);
			
			if (data.status != 'error'){
				if ($this.parents('div.table').find('div.tr').length == 1){
					admin.tabs.reloadActive();
				} else {
					$this.parents('div.tr').remove();
				}
			}
		}, 'json');
	});
	
	
	$('#{{ uid }} .delete-gal').on('click', function(){
		$.get('controller.php?obj=galleries_ctrl&method=deleteGallery&param[]={{ upload_dir }}', function(data){
			admin.message(data.text, data.status);
			
			if (data.status == 'success'){
				admin.tabs.closeActive();
			}	
		}, 'json');
	});
	
</script>