File: <code>{{ filename }}</code>
 
<textarea style="width: 98%; height:300px;" id="txt_{{ uid }}">{{ content }}</textarea>

<p class="clearfix"><button class="btn btn-success pull-right" id="save_{{ uid }}">Save</button></p>

<hr />

<p>HTML preview</p>
<pre class="prettyprint {% if lang %} lang-{{ lang }}{% endif %}" id="preview_{{ uid }}">{{ no_tab_content }}</pre>

<script>
	$('#txt_{{ uid }}').on('keyup', function(){
		$('#preview_{{ uid }}').text($(this).val().replace("\t", '   '));
		prettyPrint();
	});
	prettyPrint();
	
	$('#save_{{ uid }}').on('click', function(){
		$.post('controller.php?obj=template_ctrl&method=save&param[]={{ lang }}', {text: $('#txt_{{ uid }}').val()}, function(data){
			admin.message(data.text, data.type);
		}, 'json');
	});
</script>