File: <code>{{ filename }}</code>
 
<textarea style="width: 98%; height:300px;" id="txt_index">{{ content }}</textarea>

<p class="clearfix"><button class="btn btn-success pull-right" id="save_text">Save</button></p>

<hr />

<p>HTML preview</p>
<pre class="prettyprint {% if lang %} lang-{{ lang }}{% endif %}" id="preview_index">{{ no_tab_content }}</pre>

<script>
	$('#txt_index').on('keyup', function(){
		$('#preview_index').text($(this).val().replace("\t", '   '));
		prettyPrint();
	});
	prettyPrint();
	
	$('#save_text').on('click', function(){
		$.post('controller.php?obj=template_ctrl&method=save&param[]={{ lang }}', {text: $('#txt_index').val()}, function(data){
			admin.message(data.text, data.type);
		}, 'json');
	});
</script>